node_modules
.next
out
dist
build
.DS_Store
*.log
.env
.env.local
.env.production.local
.env.development.local
**/tempobook/dynamic/
**/tempobook/storyboards/
**/docs/cache/
**/.turbo/
**/yarn/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
