@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --biet-primary: #DC2626;
  --biet-secondary: #991B1B;
  --biet-accent: #FCA5A5;
  --biet-dark: #7F1D1D;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
